@charset "utf-8";
/* ヘッダー */
body{
 margin:0px;
 background-color: #1b244b;
}
 #header {
   position: fixed; /* 画面をスクロールしてもヘッダーを常に上部固定 */
   width: 100%; /* 横幅を画面一杯に設定 */
   height: 50px; /* ヘッダーの高さを設定 */
   background-color: #242830;
   border-bottom: solid 1px black; /* ヘッダーの下に1ピクセルの実線を設定 */
 }

 #headerArea {
   margin: 0 auto; /* 横幅をautoにすることでコンテンツが中央寄りに設定 */
   width: 980px; /* ヘッダーコンテンツ部分の横幅を設定 */
 }

 /* ヘッダーロゴ */
 #header_logo {
   float: left; /* ロゴ表示部分を左寄せで設定 */
   padding: 12px 0 0 0; /* ロゴ表示部分の上に余白12ピクセルを設定 */
   font-weight: bold; /* ロゴのテキストを太字に設定 */
   color:#8c9398; /* ロゴの色を設定 */
 }
 /* グローバルナビゲーション */
 #gnavi {
   float: right; /* グローバルナビゲーション部分を右寄せで設定 */
   margin: 12px 0 0 0; /* 上部に12ピクセルの余白を設定 */
   text-align: right; /* コンテンツの中身を右寄せで設定 */
 }

 #gnavi ul{
   clear: both;/* 回り込みを解除する際に使用しdiv要素が重ならないように設定 */
   margin:0px;
 }

 #gnavi li {
   padding: 0 0 0 20px; /* 左に20ピクセルの余白を設定 */
   float: left; /* リストを左寄せで横並びになるよう設定 */
 }
 #header_logo a:link{
  text-decoration: none;
 }
 /* リンク */
 a:link   {
   color: #006DD9; /* リンクテキストを青色に設定 */
   text-decoration: none; /* テキストに下線が表示されないように設定 */
 }

 a:hover  {  /* hoverはマウスを乗せたときの設定 */
   color: #cd4730; /* リンクテキストを赤色に設定 */
   text-decoration: none; /* テキストに下線が表示されないように設定 */
 }
 a:visited {
  color:#006DD9;
 }
 /* メインパネル */
 #main_panel {
   padding: 46px 0 0 0; /* メインパネル上部に46ピクセルの余白を設定 */
   height: 600px; /* メインパネルの高さを400pxに設定 */
   background: url(../img/Koln.jpg) no-repeat center center;
   /* 背景を中央寄せで繰り返しなしで設定 */
   background-size: cover; /* 背景画像をフルスクリーンで表示 */
 }

 #main_panelArea {
   margin: 0 auto; /* 横幅をautoにすることでコンテンツが中央寄りになります */
   padding: 90px 0 0 0; /* メインパネルコンテンツ上部に90ピクセルの余白を設定 */
   width: 980px; /* 横幅を980ピクセルで設定 */
   height: 300px;
 }
 p {
   padding: 10px 130px 0px ; /* ホームページ全体の段落要素に上下10ピクセルの余白を設定します */
 }
 h1{
  font-family: 'Raleway';
  letter-spacing: 8px;
   font-size: 35px;
   padding-top: 100px;
   padding-left: 50px;
   /* h1の下に10pxの余白を設定 */
   /* フォントサイズを元サイズの182%で表示 */
   font-weight: bold; /* 太字 */
   line-height: 2.0em; /* 上下に半行余白の段落の高さを設定 */
   color: white; /* フォントの色を白に設定 */
 }
 
#main_container{ /*自作コンテイナーじゃー*/
 width: 1280px;
 height: auto;
 margin-bottom: 10px;
 background-color: white;
}

 #main_panelArea p{
   color: #FFF; /* フォントテキストに白色を設定します */
 }
 
 h2{
  margin-bottom: 10px; /* h2タグの下部に10ピクセルの余白を設定 */
  font-size: 138.5%; /* フォントサイズを元サイズの138.5%で表示 */
  font-weight: bold; /* 太字 */
  line-height: 2.0em; /* 上下に半行余白の段落の高さを設定 */
  border-bottom: dotted 1px #999;  /* h2タグの下に1ピクセルの点線を設定 */
}

/* コンテンツエリア グレー背景 */
 div.content_g {
   padding: 60px 0; /* コンテンツエリアの上下に60ピクセルの余白を設定 */
   width: 100%; /* 横幅を画面一杯に設定 */
   background: #F8F8F8;  /* 背景色をグレーに設定 */
   border-bottom: solid 1px #EEE; /* コンテンツエリア下に1ピクセルの実線を設定 */
   height:auto; /* 高さを自動調節（この設定がないと高さが認識されない） */

 }

 div.content_gArea {
   margin: 0 auto; /* 横幅をautoにすることでコンテンツが中央寄りに設定 */
   width: 980px; /* 横幅設定 */
 }

 div.content_gArea .main {
   float:left; /* 左寄せ設定 */
   width: 520px; /* 横幅設定 */
   line-height: 2.0em; /* 上下に半行余白の段落の高さを設定 */
 }

/* 赤文字 */
.red {
  color: #CC0000;
}

/* 太文字 */
.bold {
  font-weight: bold;
}
div.content {
   padding: 60px 0; /* コンテンツエリアの上下に60ピクセルの余白を設定 */
   width: 100%; /* 横幅を画面一杯に設定 */
   border-bottom: solid 1px #EEE; /* コンテンツエリア下に1ピクセルの実線を設定 */

 }

 div.contentArea {
   margin: 0 auto; /* 横幅をautoにすることでコンテンツが中央寄りに設定 */
   width: 980px; /* 横幅設定 */
   line-height: 2.0em; /* 上下に半行余白の段落の高さを設定 */
 }

 div.contentArea .main {
   float:right; /* 右寄せ設定 */
   width: 520px; /* 横幅設定 */
 }
 div.contentArea .side {
   float:left; /* 左寄せ設定 */
   width: 460px; /* 横幅設定 */
 }
 /* フッター */
.footer{
    width: 100%;
    background-color: #242830;
    color: #8c9398;
    padding: 50px 0;
    text-align: center;
}
.footer li a:link{
 color: #a1a9b0;
 text-decoration: none;
}
.footer li a:visited{
 color:#8c9398;
}
ul {
	list-style-type: none;
	margin: 20px auto;
	padding: 0px;
}

.inline-block {
	text-align: center;
}
.inline-block li {
 font-size: 14px;
	padding: 0 10px;
	margin: 0px;
	display: inline-block;
}
.copy {
 text-align: center;
 font-size: 11px;
 margin-top: 0px;
}
.container{
 width:1280px;
}

.inner-title{
 font-size: 22px;
    line-height: 1.2em;
    font-weight: 600;
    font-family: 'Raleway';
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0px;
    text-align: center;
    padding:20px 0;
    color: black;
}
/*ページトップスクロール*/
#pagetop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom:20px;
    margin: 0px;
    display: block;
    
}
#pagetop a {
    background: #666;
    text-decoration: none;
    color: #fff;
    /*width: 100px;*/
    padding: 20px 10px;
    text-align: center;
    display: block;
    border-radius: 5px;
    font-size: 14px;
    display: block;
}
#pagetop a:hover {
    text-decoration: none;
    background: #999;
    display: block;
}
/*ここまで*/

/*カウントボックス*/
.countbox{
 position: fixed;
 top: 15px;
 right: 20px;
 color: white;
 font-size: 12px;
}